@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

body {
    height: 9999
    px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    align-items: center;
    color: #fff;
    #logo {
        grid-column: 2/3;
        font-size: 24px;
    }
    img {
        justify-self: end;
    }
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #ba7453, #d1a984);
    z-index: -1;
}

section {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content:center;
    align-items:center;
    .hero {
        width: 100%;
        height: 80%;
        position: relative;
    }
    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .hero::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color:black;
        width: 100%;
        height: 100%;
        opacity: 0.4;
    }
    .headline {
        color: #fff;
        position: absolute;
        top: 60%;
        left: 10%;
        font-size: 100px;
        z-index: 2;
    }
}

// scrollテスト
@mixin cricle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #fcdbc3;
}
.scrollbox {
    display: flex;
    align-items: center;
    background-color: #91d3f0;
    width: 800px;
    height: 300px;
    margin: auto;
    margin-top: 300px;
    margin-bottom: 500px;
    &__cricle {
        @include cricle();
    }
}

@mixin hoge($fSize: 10px) {
    font-size: $fSize;
    margin-top: 100px;
    margin-bottom: 100px;
}

.scrollbox.js-trigger2 {
    @include hoge();
    .scrollbox__cricle2 {
        @include cricle();
    }
}
.scrollbox.js-trigger3 {
    @include hoge();
    .scrollbox__cricle3 {
        @include cricle();
    }
}